<div
  class="grid justify-items-center bg-[url('assets/images/bg-login.jpg')] bg-cover bg-no-repeat py-28"
>
  <form
    class="grid-flow-rows gap-3 grid shadow-2xl px-10 py-10 bg-[#e6e6e68c] rounded-md"
    (ngSubmit)="form.valid && onSubmit()"
    #form="ngForm"
  >
    <p class="text-center text-xl">Sign In</p>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="text"
        matInput
        name="email"
        id="email"
        [(ngModel)]="data.email"
        required
        placeholder="Ex. pat@example.com"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password"
        name="password"
        id="password"
        [(ngModel)]="data.password"
        matInput
        placeholder="*******"
        required
      />
    </mat-form-field>
    <a href="" class="italic">Forgot Password?</a>
    <button
      mat-stroked-button
      class="bg-[#34354b] text-white"
      type="submit"
      [disabled]="form.invalid"
    >
      Login
    </button>
    <mat-divider></mat-divider>
    <p>New to Prodigy Courier?</p>
    <a href="" routerLink="/register" mat-flat-button color="accent"
      >Create your Prodigy Courier Account</a
    >
  </form>
</div>
